Please select the Deezer playlists, you wish to transfer to Spotify!
<br>
<div *ngFor="let selectedPl of selectedPlaylists">
  {{selectedPl.title}}<br>
</div>
<button type="button" class="btn btn-primary" (click)="preflightPlaylists()">
  Preflight Spotify-Transfer
</button>

<accordion *ngFor="let playlist of playlists | keyvalue">
  <accordion-group panelClass="panel panel-primary" (click)="loadPlaylistDetails(playlist.value)">  
      <div panelClass="panel panel-primary" accordion-heading>
        {{playlist.value.title}}
        <div class="float-right custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" (change)="selectPlaylist(playlist.value)" [id]="playlist.key">
            <label class="custom-control-label" [for]="playlist.key"></label>
        </div>
      </div>
      <app-playlist [playlist]="playlists.get(playlist.key)"></app-playlist> 
  </accordion-group>
</accordion>