<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row" style="text-align:center">
      <div class="col"></div>
      <div class="col-10">  
          <h1>
              {{ title }}!
          </h1>
      </div>
      <div class="col"></div>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col-10 mx-auto p-2 text-center">
      <app-wizard-navigation></app-wizard-navigation>
    </div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col"></div>
    <div class="col-10 mx-auto">
      <app-messages class="mx-auto"></app-messages>
    </div>
    <div class="col"></div>
  </div>
  <div class="row">
      <div class="col"></div>
      <div class="col-10 mx-auto text-center">
          <router-outlet class="row"></router-outlet>
      </div>
      <div class="col"></div>
    </div>
</div>