/* .nav-wizard {
    margin: 15px auto;
    width: fit-content;
} */

.wizard-button {
    margin: auto 40px;
}

/* .liner{
    height: 2px;
    background: #ddd;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
} */