<div id="status-buttons">
    <div class="liner"></div>
    <button type="button" class="btn wizard-button" [class.btn-success]="isUserDataComplete()" [class.btn-primary]="!isUserDataComplete()">
        User <br>
        Information
    </button>
    <button type="button" class="btn wizard-button" [class.btn-success]="isPlaylistSelectionComplete()" [class.btn-secondary]="!isUserDataComplete() && !isPlaylistSelectionComplete()" [class.btn-primary]="isUserDataComplete()">
        Select <br>
        Playlists
    </button>
    <button type="button" class="btn wizard-button" [class.btn-success]="isPlaylistsTransferComplete()" [class.btn-secondary]="!isPlaylistSelectionComplete()" [class.btn-primary]="isPlaylistSelectionComplete() && !isPlaylistsTransferComplete()">
        Review & <br>
        Confirm
    </button>
    <button type="button" class="btn wizard-button" [class.btn-secondary]="!isPlaylistsTransferComplete()" [class.btn-primary]="isPlaylistsTransferComplete()">
        Done! <br>
    </button>
</div>